# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~
.DS_Store

# Minecraft Dev
run/
logs/
config/
saves/
resourcepacks/
shaderpacks/
options.txt
servers.dat

# Local config
local.properties
.env
*.log
